@font-face{font-family:'Barlow';font-style:normal;font-weight:400;src:url('barlow-400.woff2') format('woff2');}
@font-face{font-family:'Barlow';font-style:normal;font-weight:500;src:url('barlow-500.woff2') format('woff2');}
@font-face{font-family:'Barlow';font-style:normal;font-weight:700;src:url('barlow-700.woff2') format('woff2');}
@font-face{font-family:'Barlow Condensed';font-style:normal;font-weight:700;src:url('barlow-condensed-700.woff2') format('woff2');}
@font-face{font-family:'Barlow Condensed';font-style:normal;font-weight:800;src:url('barlow-condensed-800.woff2') format('woff2');}
